<head>
    <!-- <meta name="google-signin-client_id" content="613972768889-9ibrkrsrkd0eo1lje3rm1opp2e0762q1.apps.googleusercontent.com"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,400,700" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
</head>