<div class="login-header">
    <div class="login-header-container">
        <a href="{{ request.url_root }}"><img src="{{ url_for('static', filename='home.png') }}" /></a>
        {% if 'username' not in login_session %}

            <button id="signinButton" class="sign-in-button">Sign in with Google</button>

            <script>
                $('#signinButton').click(function() {
                    auth2.grantOfflineAccess().then(signInCallback);
                });

                function start() {
                    gapi.load('auth2', function() {
                        auth2 = gapi.auth2.init({
                            client_id: '205605941618-t27ruc58of304rpcpga8hhlqvpmds0gd.apps.googleusercontent.com',
                        });
                    });
                }

                function signInCallback(authResult) {
                    if(authResult['code']) {
                        $('#signinButton').attr('style', 'display:none');

                        $.ajax({
                            type: 'POST',
                            url: '{{ request.url_root }}gconnect?state={{ STATE }}',
                            processData: false,
                            contentType: 'application/octet-stream; charset=utf-8',
                            data: authResult['code'],
                        }).done(function( response ) {
                            location.reload()
                        })
                    }
                }
            </script>
        {% else %}
            <span class="welcome-user">Welcome, {{ login_session['username'] }}</span>
            <a class="logout-link" href="{{ request.url_root }}gdisconnect">Logout</a>
        {% endif %}
    </div>
</div>