<div class="login-header">
    <div class="login-header-container">
        <a href="{{ request.url_root }}"><img src="{{ url_for('static', filename='home.png') }}" /></a>
        {% if 'username' not in login_session %}
            <div id="signinButton">
                <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="613972768889-9ibrkrsrkd0eo1lje3rm1opp2e0762q1.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback">
                </span>
            </div>

            <script>
                function signInCallback(authResult) {
                    if(authResult['code']) {
                        $('#signinButton').attr('style', 'display:none');

                        $.ajax({
                            type: 'POST',
                            url: '{{ request.url_root }}gconnect?state={{ STATE }}',
                            processData: false,
                            contentType: 'application/octet-stream; charset=utf-8',
                            data: authResult['code'],
                        }).done(function( response ) {
                            location.reload()
                        })
                    }
                }
            </script>
        {% else %}
            <span class="welcome-user">Welcome, {{ login_session['username'] }}</span>
            <a class="logout-link" href="{{ request.url_root }}gdisconnect">Logout</a>
        {% endif %}
    </div>
</div>