<html>
    {% include '_head.html' %}
    <body class="page-add-item">
        {% include '_login.html' %}
        <div class="container">
            {% if 'username' in login_session %}
                <h1>Add an Item:</h1>
            {% endif %}
            <div class="container-data">
                {% if 'username' in login_session %}
                <form action="{{ url_for('add_item') }}" method="POST">
                    <label>Title</label>
                    <input type="text" name="title"/>
    
                    <label>Description</label>
                    <textarea name="description"></textarea>
    
                    <label>Category</label>
                    <select name="category">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
    
                    <input type="submit">
                </form>
                {% else %}
                    <h1>Only logged in users can add an item</h1>
                {% endif %}
            </div>
        </div>
        {% include '_footer.html' %}
    </body>
</html>