<html>
    {% include '_head.html' %}
    <body class="page-edit-item">
        {% include '_login.html' %}
        <div class="container">
            <div class="container-data">
                {% if 'username' in login_session and authorized=True %}
                <form action="{{ url_for('edit_item', item_slug=item_slug) }}" method="POST">
                    <label>Title</label>
                    <input type="text" name="title" value="{{item.name}}" required />

                    <label>Description</label>
                    <textarea name="description" required>{{item.description}}</textarea>
    
                    <label>Category</label>
                    <select name="category">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>

                    <input type="hidden" name="item_slug" value="{{ item_slug }}">
    
                    <input type="submit">
                </form>
                {% else %}
                    <h1>You are not authorized to edit this item.</h1>
                    <a href="{{ request.url_root }}">Click to go back</a>
                {% endif %}
            </div>
        </div>
        {% include '_footer.html' %}
    </body>
</html>
